@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Acme|Sintony:400,700);

body {
	background-color: #dfdfdf;
	color: #868686;
	font-family: 'Sintony', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Acme', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.main-content {
	width: 1000px;
	margin: 0 auto;
}

.main-nav .bg-orange, .main-nav .bg-purple, .main-nav .bg-yellow,
.main-nav .bg-green, .main-nav .bg-blue, .btn {
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

.bg-orange { background-color: #f26c4e; }
.main-nav .bg-orange:hover,
.btn.bg-orange:hover { background-color: #fd8a70; }
.bg-purple { background-color: #cf6baa; }
.main-nav .bg-purple:hover { background-color: #e993c9; }
.bg-yellow { background-color: #f2c24d; }
.main-nav .bg-yellow:hover { background-color: #ffd777; }
.bg-green { background-color: #a3d178; }
.main-nav .bg-green:hover { background-color: #c4eaa0; }
.bg-dark-green { background-color: #8ebe5f; }
.bg-blue { background-color: #78ccd0; }
.main-nav .bg-blue:hover { background-color: #9de4e7; }

.btn {
	border: none;
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
}

/* -----------------------HEADER-------------------- */
header {
	text-align: center;
	width: 100%;
}

.main-title {
	font-size: 48px;
	line-height: 40px;
}

.main-title span {
	font-size: 24px;
	letter-spacing: 4px;
}

/* ----------------------MAIN NAVIGATION--------------- */
.main-nav {
	background-color: #cdcdcd;
	width: 100%;
}

.main-nav ul {
	list-style: none;
	padding-left: 0px;
	width: 1000px;
	height: 70px;
	margin: 0 auto;
	text-align: left;
	position: relative;
	left: -4px;
}

.main-nav li {
	border-left: 4px solid #dfdfdf;
	float: left;
	height: 70px;
	width: 140px;
	position: relative;
}

.main-nav li a {
	color: #fff;
	font-size: 18px;
	box-sizing: border-box;
	padding-top: 24px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	width: 140px;
	height: 70px;
}

.main-nav li:last-child {
	border-right: 4px solid #dfdfdf;
}

.main-nav li a:before {
	content: ' ';
	background-color: #f26c4e;
	border: 3px solid #dfdfdf;
	border-radius: 50px;
	position: absolute;
	width: 10px;
	height: 10px;
	left: -10px;
	top: 27px;
}

.main-nav li:last-child a:after {
	content: ' ';
	background-color: #f26c4e;
	border: 3px solid #dfdfdf;
	border-radius: 50px;
	position: absolute;
	width: 10px;
	height: 10px;
	right: -10px;
	top: 27px;
}




/* -------------SLIDER------------ */
.feature-slider {
	background-color: #fff;
	position: relative;
	height: 320px;
	margin-top: 4px;
}

.nav-left, .nav-right {
	position: absolute;
	width: 53px;
	height: 53px;
	top: 131px;
}

.nav-left {
	background: url('../img/slider-left.png') top left no-repeat;
	left: -10px;
}

.nav-right {
	background: url('../img/slider-right.png') top left no-repeat;
	right: -10px;
}

.slider-nav {
	list-style:none;
	padding-left: 0;
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 10px;
	margin: 0px;
}

.slider-nav li {
	background-color: #cdcdcd;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	float: left;
	margin-right: 10px;
}

.slider-nav li.active { background-color: #f26c4e; }

.slider-nav li a {
	position: absolute;
	width: 10px;
	height: 10px;
}

.slide-image {
	position: absolute;
	bottom: 0px;
	right: 90px;
}

.slide-text {
	width: 310px;
	margin: 40px 0 0 90px;
	float: left;
}

.slide-text h2 {
	color: #f26c4e;
	font-family: 'Sintony', Helvetica, Arial, sans-serif;
	margin-bottom: 0;
}

/* -----------FEATURE SERVICES--------------*/
.feature-services { display: table; }

.column-half {
	display: table-cell;
	width: 50%;
	padding: 40px;
	box-sizing: border-box;
}

.feature-services .column-half { text-align: center; }

.feature-services .column-half p {
	color: #fff;
	text-align: left;
}

.feature-services .column-half h2 a {
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}

.feature-services .column-half p a {
	font-weight: bold;
	color: #fff;
}

.feature-services .column-half p a:hover {
	color: #e7ffbc;
}

/* ------------------FOOTER------------- */
footer {
	background-color: #ededed;
	width: 100%;
}

.column-one-third {
	float: left;
	width: 33.333%;
	padding: 20px;
	box-sizing: border-box;
}

.column-one-third:last-child { float: right; }

.blog-list {
	color: #8ebe5f;
	padding-left: 20px;
}

.blog-list a {
	color: #78ccd0;
	font-weight: 700;
	text-decoration: none;
}

.blog-list a:hover { text-decoration: underline; }

.social-list {
	list-style: none;
	padding-left: 0;
}

.social-list li {
	float: left;
	margin-right: 10px;
}

.column-registration { background-color: #f26c4e; }
.column-registration h2 { color: #fff; }

.column-registration input {
	border: none;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.column-registration .btn {
	width: 100%;
	background-color: #f2c24d;
	margin-bottom: 40px;
}

/* -----------------CLEARFIX------------- */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}